<h1> Лабороторна робота N1

In [ ]:
from urllib.request import Request,urlopen
import pandas as pd
import numpy as np

In [ ]:
columns = ['year', 'week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI']
# TODO: separate tasks: 1. Download raw data; 2. Open files to united pd.DataFrame, perform "data cleaning"
for i in range(1,28):
    
    url = (str("https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID="+str(i)+"&year1=1981&year2=2024&type=Mean"))
    
    df = pd.read_csv(url, skiprows=2, names = columns)    
    df_drop = df 
    # TODO: make relative global path with os.path.join
    path = "C:\\Users\\Ivan Moroz\\Documents\\Special-Programming-Sections.-Lab-Work\\Special-Programming-Sections.-Lab-Work\\Lab_1\\data\\data" + str(i)+".csv"
    df_drop.to_csv(path)
    print(df.isnull().sum())

<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.053
1982             0.054
1982             0.055
1982             0.053
1982             0.050
                 ...
2024             0.087
2024             0.076
2024             0.070
2024             0.070
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.060
1982             0.061
1982             0.059
1982             0.058
1982             0.053
                 ...
2024             0.072
2024             0.065
2024             0.061
2024             0.062
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.065
1982             0.066
1982             0.067
1982             0.067
1982             0.067
                 ...
2024             0.142
2024             0.133
2024             0.127
2024             0.125
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.076
1982             0.070
1982             0.066
1982             0.063
1982             0.064
                 ...
2024             0.170
2024             0.167
2024             0.165
2024             0.164
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.046
1982             0.042
1982             0.039
1982             0.036
1982             0.033
                 ...
2024             0.078
2024             0.070
2024             0.066
2024             0.066
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.038
1982             0.036
1982             0.034
1982             0.033
1982             0.032
                 ...
2024             0.057
2024             0.052
2024             0.051
2024             0.051
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.070
1982             0.073
1982             0.077
1982             0.080
1982             0.082
                 ...
2024             0.162
2024             0.154
2024             0.149
2024             0.147
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.038
1982             0.036
1982             0.033
1982             0.031
1982             0.030
                 ...
2024             0.051
2024             0.046
2024             0.046
2024             0.045
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.079
1982             0.074
1982             0.076
1982             0.077
1982             0.077
                 ...
2024             0.133
2024             0.130
2024             0.128
2024             0.129
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.059
1982             0.063
1982             0.063
1982             0.061
1982             0.058
                 ...
2024             0.079
2024             0.072
2024             0.066
2024             0.068
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.077
1982             0.084
1982             0.086
1982             0.084
1982             0.078
                 ...
2024             0.091
2024             0.083
2024             0.077
2024             0.078
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.064
1982             0.070
1982             0.072
1982             0.071
1982             0.067
                 ...
2024             0.098
2024             0.088
2024             0.082
2024             0.083
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.045
1982             0.041
1982             0.041
1982             0.038
1982             0.034
                 ...
2024             0.082
2024             0.072
2024             0.067
2024             0.067
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.036
1982             0.034
1982             0.032
1982             0.030
1982             0.027
                 ...
2024             0.049
2024             0.048
2024             0.049
2024             0.050
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.058
1982             0.057
1982             0.056
1982             0.054
1982             0.052
                 ...
2024             0.149
2024             0.136
2024             0.127
2024             0.120
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.066
1982             0.066
1982             0.065
1982             0.061
1982             0.053
                 ...
2024             0.140
2024             0.132
2024             0.127
2024             0.128
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.067
1982             0.064
1982             0.061
1982             0.055
1982             0.048
                 ...
2024             0.167
2024             0.156
2024             0.146
2024             0.142
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.044
1982             0.042
1982             0.041
1982             0.039
1982             0.037
                 ...
2024             0.066
2024             0.055
2024             0.051
2024             0.049
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.077
1982             0.084
1982             0.088
1982             0.091
1982             0.092
                 ...
2024             0.141
2024             0.132
2024             0.125
2024             0.123
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.054
1982             0.056
1982             0.059
1982             0.061
1982             0.066
                 ...
2024             0.199
2024             0.188
2024             0.181
2024             0.179
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.046
1982             0.045
1982             0.043
1982             0.043
1982             0.042
                 ...
2024             0.058
2024             0.052
2024             0.048
2024             0.048
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.045
1982             0.047
1982             0.045
1982             0.040
1982             0.037
                 ...
2024             0.089
2024             0.079
2024             0.075
2024             0.075
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.061
1982             0.059
1982             0.060
1982             0.060
1982             0.061
                 ...
2024             0.142
2024             0.135
2024             0.129
2024             0.125
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.068
1982             0.074
1982             0.076
1982             0.075
1982             0.072
                 ...
2024             0.086
2024             0.076
2024             0.068
2024             0.070
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.061
1982             0.064
1982             0.065
1982             0.065
1982             0.064
                 ...
2024             0.147
2024             0.138
2024             0.130
2024             0.127
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.056
1982             0.053
1982             0.052
1982             0.051
1982             0.049
                 ...
2024             0.106
2024             0.099
2024             0.097
2024             0.096
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64
<tt><pre>1982     1.0
1982              2.0
1982              3.0
1982              4.0
1982              5.0
                 ...
2024             49.0
2024             50.0
2024             51.0
2024             52.0
</pre></tt>       NaN
Name: year, Length: 2237, dtype: float64
<tt><pre>1982    0.083
1982             0.092
1982             0.097
1982             0.101
1982             0.102
                 ...
2024             0.115
2024             0.104
2024             0.094
2024             0.093
</pre></tt>        NaN
Name: week, Length: 2237, dtype: float64
year       1
week       1
SMN        1
SMT        1
VCI        1
TCI        1
VHI     2237
dtype: int64

In [138]:
df = pd.read_csv("C:\\Users\\Ivan Moroz\\Documents\\Special-Programming-Sections.-Lab-Work\\Special-Programming-Sections.-Lab-Work\\Lab_1\\data\\data10.csv")

missing_values_count = df.isnull().sum()
print(df)

         Unnamed: 0  year   week     SMN    SMT    VCI    TCI  VHI
0     <tt><pre>1982   1.0  0.059  258.24  51.11  48.78  49.95  NaN
1              1982   2.0  0.063  261.53  55.89  38.20  47.04  NaN
2              1982   3.0  0.063  263.45  57.30  32.69  44.99  NaN
3              1982   4.0  0.061  265.10  53.96  28.62  41.29  NaN
4              1982   5.0  0.058  266.42  46.87  28.57  37.72  NaN
...             ...   ...    ...     ...    ...    ...    ...  ...
2232           2024  49.0  0.079  265.31  47.19  38.54  42.85  NaN
2233           2024  50.0  0.072  263.73  45.70  35.98  40.84  NaN
2234           2024  51.0  0.066  262.95  46.70  31.37  39.04  NaN
2235           2024  52.0  0.068  263.70  54.23  25.75  39.99  NaN
2236    </pre></tt>   NaN    NaN     NaN    NaN    NaN    NaN  NaN

[2237 rows x 8 columns]